[submodule "submodules/CSF"]
	path = submodules/CSF
	url = https://github.com/chngdickson/CSF.git
[submodule "submodules/PCTM"]
	path = submodules/PCTM
	url = https://github.com/chngdickson/PointCloud_Tree_Modelling.git
